service: espcharts-serverless-backend
frameworkVersion: "3"
plugins:
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs18.x
  profile: joanserv
  region: eu-north-1
  stage: ${opt:stage, 'dev'}

functions:
  #Player functions
  createPlayer:
    handler: src/handlers/PlayerHandlers/Post.handler
    events:
      - http:
          path: /espcharts/players
          method: post
  getAllPlayers:
    handler: src/handlers/PlayerHandlers/GetAll.handler
    events:
      - http:
          path: /espcharts/allPlayers
          method: get
  getPlayerById:
    handler: src/handlers/PlayerHandlers/GetById.handler
    events:
      - http:
          path: /espcharts/players/{id}
          method: get
  getPlayerPages:
    handler: src/handlers/PlayerHandlers/GetPages.handler
    events:
      - http:
          path: /espcharts/players
          method: get

  deletePlayer:
    handler: src/handlers/PlayerHandlers/Delete.handler
    events:
      - http:
          path: /espcharts/players/{id}
          method: delete
  #Team Functions
  getAllTeams:
    handler: src/handlers/TeamHandlers/GetAll.handler
    events:
      - http:
          path: /espcharts/allTeams
          method: get
  getTeamById:
    handler: src/handlers/TeamHandlers/GetById.handler
    events:
      - http:
          path: /espcharts/teams/{id}
          method: get
  getTeamPages:
    handler: src/handlers/TeamHandlers/GetPages.handler
    events:
      - http:
          path: /espcharts/teams
          method: get

  deleteTeam:
    handler: src/handlers/TeamHandlers/Delete.handler
    events:
      - http:
          path: /espcharts/teams/{id}
          method: delete
  #Tournament Functions
  getAllTournaments:
    handler: src/handlers/TournamentHandler/GetAll.handler
    events:
      - http:
          path: /espcharts/allTournaments
          method: get
  getTournamentById:
    handler: src/handlers/TournamentHandler/GetById.handler
    events:
      - http:
          path: /espcharts/teams/{id}
          method: get
  getTournamentPages:
    handler: src/handlers/TournamentHandler/GetPages.handler
    events:
      - http:
          path: /espcharts/teams
          method: get

  deleteTournament:
    handler: src/handlers/TournamentHandler/Delete.handler
    events:
      - http:
          path: /espcharts/tournament/{id}
          method: delete
ddddes